*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.125rem;
}

a {
    // color: $white;
    text-decoration: none;
}