@import 'reset';
@import 'variables';
@import 'mixins';


.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.header {
    background-color: $darkBlue;
    color: $white;
    width: 100%;
    min-height: 3.9375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        text-decoration: none;
        color: $white;
        font-family: $texts__fonts;
    }

    &__links {
        display: flex;

        a {
            color: $white;
        }

        @include breakpoints-mobile(mobile) {
            display: none;
        }
    }

    &__menu__toggle {
        span {
            
        }
    }
}