@import 'reset';
@import 'variables';
@import 'mixins';


.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.header {
    background-color: $darkBlue;
    color: $white;
    width: 100%;
    height: 3.9375rem;

    &__logo {
        text-decoration: none;
        color: $white;
        font-family: $texts__fonts;
    }

    @include breakpoints-mobile(mobile) {
        
    }
}