@import 'reset';
@import 'global';
@import 'mixins';


.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.header {
    background-color: $darkBlue;
    color: $whi
    width: 100%;
    height: 3.9375rem;
}